@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	text-decoration: none;
	color: black;
}

@layer components {
	.link {
		@apply text-blue-800 underline hover:text-blue-500;
	}
}

@font-face {
	font-family: 'Merriweather';
	src: url('/static/fonts/Merriweather-Bold.woff2') format('woff2'),
		url('/static/fonts/Merriweather-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/static/fonts/Merriweather-Light.woff2') format('woff2'),
		url('/static/fonts/Merriweather-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/static/fonts/Merriweather-LightItalic.woff2') format('woff2'),
		url('/static/fonts/Merriweather-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

.companies-group,
.companies-with-pic,
.companies-with-logo,
.companies-children-grid{
	display: grid;
	grid-gap: 2em;
	justify-content: center;
}

.companies-group {
	grid-template-columns: repeat(auto-fill, 32rem);
}

.companies-with-pic {
	grid-template-columns: repeat(auto-fill, 18rem);
}

.companies-with-logo {
	grid-template-columns: repeat(auto-fill, 11rem);
}

.companies-children-grid {
	grid-template-columns: repeat(auto-fill, 6em);
	width: 50%;
	padding: 0.5em;
	margin-left: 2em;
}

.company-holder {
	min-height: 11rem;
	@apply text-center flex justify-between;
}

@media screen and (max-width: 768px) {
	.companies-with-pic {
		grid-template-columns: 1fr 1fr;
		/*	FIXME does not work*/
	}
}

.companies-group-image-holder {
	width: 50%;
}

.companies-image-holder {
	width: 100%;
}

@media screen and (max-width: 550px) {
	.company-holder {
		display: block;
		text-align: center;
	}

	.companies-children-grid {
		width: 100%;
		margin-left: 0em;
	}

	.companies-group-image-holder {
		width: 100%;
	}

	.companies-group {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 450px) {
	.companies-with-pic {
		grid-template-columns: 1fr;
	}
}

.company-image {
	grid-area: 1/1/1/1;
	z-index: 10;
}

.company-image:hover {
	cursor: pointer;
}
